*{
    margin:0;
    padding:0
}
#branch-par{
    width: 410px;
}
#brStr{
    width: 400px;
}
.drop{
    width: 200px;
    max-height: 200px;
    border: 1px solid silver;
    border-top: 0px;
    float: left;
}
#targ{
    clear: both;
}
.overFlow{
    overflow: scroll;
    overflow-x: hidden;
}
.list>a{
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
    padding: 0 20px 0 5px;
    border-bottom: 1px solid rgba(153, 51, 255, 0.04);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.list>a:hover{
    background-color: silver;
}
.parList{
    background-color: rgba(255, 102, 0, 0.15);
}
.childList{
    background-color: rgba(102, 102, 153, 0.15);
}
.selectBranch{
    position: relative;
    border-radius: 10px 0 10px 0;
    background-color: rgba(102, 102, 153, 0.15);
    display: inline-block;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 24px;
    overflow: hidden;
    font-size: 12px;
}
.selectBranch > svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.show{
    display: block;
}